#success_message {
    display: none;
}

div {
    padding: 0px 0px 3px 3px;
}

.registerForm {
    max-width: 900px;
}

div.container {
    max-width: 750px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance: textfield !important;
}

label {
    display: block;
}

label input {
    font-weight: normal
}